@import "variables";

.main-search {

  &__input {
    &--desktop {
      margin-left: $space * 2;
      display: none;

      @media screen and (min-width: $mobile-breakpoint) {
        display: flex;
        align-items: center;
      }
    }

    &--mobile {
      position: absolute;
      top: $header-height;
      left: 0;
      width: 100vw;
      padding: $space 0;

      display: none;

      background-color: $primary-color;

      @media screen and (min-width: $mobile-breakpoint) {
        display: none;
      }

      &.open {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input {
        width: 70%;
      }
    }
  }

  &__mobile-search-button {
    display: block;

    @media screen and (min-width: $mobile-breakpoint){
      display: none;
    }
  }
}
