<div class="main-search">
  <div class="main-search__input--desktop">
    <ng-container *ngTemplateOutlet="searchInput"></ng-container>
  </div>
  <div
    class="main-search__input--mobile"
    [ngClass]="{'open': mobileSearchOpened}">
    <ng-container *ngTemplateOutlet="searchInput"></ng-container>
  </div>
  <button
    class="main-search__mobile-search-button"
    (click)="mobileSearchOpened = !mobileSearchOpened"
    color="white"
    appIconButton>
    <i class="material-icons">
      {{mobileSearchOpened ? 'close' : 'search'}}
    </i>
  </button>
</div>

<ng-template #searchInput>
  <input
    appInput
    [(ngModel)]="search"
    color="white"
    id="search-input"
    type="text"
    placeholder="Szukaj..."
    aria-label="Szukaj"
    class="main-search__input">
  <button
    color="white"
    appIconButton>
    <i class="material-icons">search</i>
  </button>
</ng-template>
