@import "variables";

@mixin button-reset() {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.app-icon-button {
  @include button-reset;
  padding: $space / 2;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include transition(background);



  &--white {
    &:hover,
    &:focus {
      background: rgba($white-color, .3);
    }

    i {
      color: $white-color;
    }
  }

  &--primary {
    &:hover,
    &:focus {
      background-color: rgba($primary-color, .3);
    }

    i {
      color: $black-color;
    }
  }

  i {
    position: relative;
    top: 1px;
  }
}

.app-button {
  @include button-reset;
  width: 100%;
  background-color: $primary-color;
  padding: $space;
  color: white;
  font-size: 1.4rem;

  &:hover,
  &:focus {
    background-color: $light-primary-color;
  }
}
