@import "variables";

@mixin input-styles($color, $focus-color) {
  border-color: $color;
  caret-color: $color;
  color: $color;

  &:focus,
  &:active {
    border-color: $focus-color;
  }

  &::placeholder {
    color: rgba($color, .6);
  }
}

.app-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  font-size: 1.4rem;

  padding: $space;

  @include transition(border-color);

  &--white {
    @include input-styles($white-color, $light-accent-color);
  }

  &--primary {
    @include input-styles($black-color, $primary-color);
  }

  &--invalid {
    border-color: $error-color !important;
  }
}
