@import "variables";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  i {
    font-size: 64px;
    margin-bottom: $space;
  }
}
