<div class="toolbox">
  <h1 class="toolbox__title">Niezbędnik</h1>
  <div class="toolbox__wrapper">
    <div class="toolbox__action-area">
      <form
        class="toolbox__search"
        [formGroup]="searchForm"
        (ngSubmit)="search()">
        <input
          (hasError)="searchInputHasError($event)"
          formControlName="search"
          appInput
          type="text"
          placeholder="Przeszukaj niezbędnik..."
          aria-label="Przeszukaj niezbędnik">
        <button
          type="submit"
          appIconButton
          color="primary">
          <i class="material-icons">search</i>
        </button>
      </form>
        <app-input-error
          class="toolbox__search-error"
          [error]="invalidInputError || noResultError">{{getErrorMessage()}}</app-input-error>
      <button
        *ngIf="categoriesFiltered"
        (click)="clearSearchResults()"
        appButton>
        Wyczyść wyszukiwanie
      </button>
    </div>
    <div class="toolbox__content-area">
      <div class="row">
        <ng-container *ngFor="let category of filteredCategories">
          <app-category-card
            class="col-xl-4 col-md-6 col-sm-12 toolbox__category"
            [searchString]="searchString"
            [category]="category"
            [height]="categoryHeight">
          </app-category-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
