@import "variables";

.toolbox {
  height: 100%;

  &__title {
    color: $primary-color;

    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $lg-breakpoint){
      flex-direction: row;
    }
  }

  &__action-area {
    height: 100%;
    flex: 0 0 100%;
    padding: 0 $space;
    margin-bottom: $space * 2;

    @media screen and (min-width: $lg-breakpoint) {
      flex: 0 0 310px;
      margin-bottom: 0;
      margin-right: $space;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    input {
      flex: 1 0 auto;
    }
  }

  &__search-error {
    margin-bottom: $space;
    display: block;
  }

  &__content-area {
    height: 100%;
    width: 100%;
    flex: 0 0 auto;

    @media screen and (min-width: $lg-breakpoint) {
      width: calc(100% - 312px);
    }
  }

  &__category {
    margin-bottom: 15px;

    @media screen and (min-width: $md-breakpoint) {
      margin-bottom: 30px;
    }
  }

  &__search-button {
    width: 35px;
    height: 35px;
    margin: 3px 0;
  }
}
