<div
  class="sidenav"
  [ngClass]="{'open': sidenavService.sidenavOpened$ | async}">
  <div class="sidenav__header">
    <app-logo></app-logo>
    <button
      (click)="onSidenavClose()"
      color="white"
      appIconButton>
      <i class="material-icons white">close</i>
    </button>
  </div>
  <app-menu [context]="menuContext.MOBILE_MENU"></app-menu>
</div>
