@import "variables";

.sidenav {
  position: absolute;
  left: $sidenav-width * -1;
  width: $sidenav-width;
  background-color: $primary-color;
  height: 100%;
  padding: $space;

  @include transition(left);

  &.open {
    left: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
