@import "variables";

.header {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;

  padding: 0 $space;

  height: $header-height;
  width: 100%;

  background-color: $primary-color;

  @include shadow;

  &__logo {
    display: none;

    @media screen and (min-width: $mobile-breakpoint) {
      display: block;
    }
  }

  &__mobile-menu-button {
    display: block;

    @media screen and (min-width: $mobile-breakpoint) {
      display: none;
    }
  }

  &__spacer {
      flex: 1 1 auto;
  }

  &__menu {
    &--desktop {
      display: none;

      @media screen and (min-width: $mobile-breakpoint) {
        display: block;
      }
    }
  }

  i {
    color: $white-color;
  }
}
