<div class="header">
  <app-logo class="header__logo"></app-logo>
  <button
    (click)="onMenuOpen()"
    class="header__mobile-menu-button"
    appIconButton>
    <i class="material-icons">menu</i>
  </button>
  <div class="header__spacer"></div>
  <app-menu
    class="header__menu--desktop"
    [context]="menuContext.TOOLBAR"></app-menu>
  <app-main-search></app-main-search>
</div>
