<div class="company-information">
  <div class="company-information__name">Dobre buty</div>
  <div class="company-information__text">ul. Kwiatowa 1/10</div>
  <br>
  <div class="company-information__text">KRS: 00000000</div>
  <div class="company-information__text">REGON: 00000000</div>
  <div class="company-information__text">KRS: 00000000</div>
</div>
