<div
  class="category-card"
  [ngClass]="{'category-card--hidden': !heightSet}"
  [style.height]="categoryHeightStyle ? categoryHeightStyle : 'auto'">
  <div class="category-card__title">
    <i class="material-icons">{{ category.icon }}</i>
    <h2
      [title]="category.name"
      [innerHTML]="category.name | highlight:searchString"></h2>
  </div>
  <div class="category-card__links-wrapper">
    <ul>
      <li *ngFor="let link of category.links">
        <a
          tabindex="0"
          (keyup.enter)="navigateToAddress(link.address)"
          (click)="navigateToAddress(link.address)"
          [title]="link.displayName + ' (' + link.address + ')'"
          [innerHTML]="link.displayName | highlight:searchString"></a>
      </li>
    </ul>
  </div>
</div>
