@import "variables";

.category-card {
  padding: $space * 2;
  border-radius: 10px;
  height: 100%;

  @include shadow;

  &--hidden {
    visibility: hidden;
  }

  &__title {
    display: flex;
    align-items: center;

    i {
      font-size: 30px;
      color: $primary-color;
    }

    h2 {
      color: $primary-color;
      text-transform: uppercase;
      font-size: 1.8rem;
      margin-left: $space;

      @include ellipsis;
    }
  }

  &__links-wrapper {
    ul {
      list-style: none;
      margin-bottom: 0;

      li {
        margin-bottom: $space / 2;
        display: flex;

        &::before {
          content: "\2022";
          color: $primary-color;
          font-weight: bold;
          display: inline-block;
          width: 1.5em;
          margin-left: -1em;
        }
      }

      a {
        @include ellipsis;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
