<div class="app">
  <app-sidenav></app-sidenav>
  <div
    class="app__main"
    [ngClass]="{'app__main--with-sidenav': (sidenavService.sidenavOpened$ | async)}">
    <div
      class="app__dimmer"
      [ngClass]="{'show': (sidenavService.sidenavOpened$ | async)}"></div>
    <app-header class="app__header"></app-header>
    <div class="app__wrapper">
      <div class="container app__container">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="app__footer"></app-footer>
    </div>
  </div>
</div>
