@import "variables";

.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  position: relative;

  &__main {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    @include transition(left);

    &--with-sidenav {
      left: $sidenav-width;
    }
  }

  &__dimmer {
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 0;
    left: -100%;
    background-color: rgba($black-color, .5);

    width: 100%;
    height: 100%;

    transition: left 0s ease-in-out $default-transition-time, opacity $default-transition-time ease-in-out;

    &.show {
      left: 0;
      opacity: 1;

      transition: left 0s ease-in-out, opacity $default-transition-time ease-in-out;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$header-height});
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__container {
    flex: 1 0 auto;

    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    flex: 0 0 $footer-height;
  }
}
