@import "variables";

.input-error {
  color: $error-color;
  font-size: 1.2rem;
  opacity: 0;

  @include transition(opacity);

  &--visible {
    opacity: 1;
  }

  &__placeholder {
    height: 16px;
  }
}
