@import "variables";

.footer {
  background-color: $primary-color;
  color: $white-color;

  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;


    @media screen and (min-width: $md-breakpoint) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__company-info {
    margin-bottom: $space * 2;

    @media screen and (min-width: $md-breakpoint){
      margin-bottom: 0;
    }
  }

  &__copyrights {
    text-align: center;

    a {
      color: white;
      font-weight: 700;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $light-accent-color;
      }
    }
  }
}
