<div class="footer">
  <div class="footer__container container">
    <div class="footer__company-info">
      <app-company-information></app-company-information>
    </div>
    <div class="footer__copyrights">
      Korzystając z tej aplikacji akceptujesz <a href="#">regulamin</a>. Prawa zastrzeżone &copy; 2020 Dobre buty
    </div>
  </div>
</div>
