@import "variables";

.menu {
  display: flex;

  &--toolbar {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &--mobile-menu {
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;

    .menu__item {
      margin-bottom: $space / 2;
    }
  }

  &__item{
    color: white;

    margin-right: $space;

    @include transition(color);

    &:last-of-type {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      color: $light-accent-color;
    }

    &--active {
      color: $accent-color;
    }
  }
}
