@import "assets/styles/components/input";
@import "assets/styles/components/button";

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}


* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.highlight {
  background-color: transparent;

  animation-name: background-animation;
  animation-duration: $default-transition-time;
  animation-fill-mode: forwards;
}

@keyframes background-animation {
  from {background-color: transparent;}
  to {background-color: $accent-color;}
}

.container {
  width: 100%;
  max-width: 1400px;

  margin: 0 auto;
  padding: $space * 2;
}
