$space: 12px;

$primary-color: #3f51b5;
$light-primary-color: #9fa8da;
$accent-color: #ff9800;
$light-accent-color: #ffcc80;
$white-color: #fff;
$black-color: #000;
$error-color: #f44336;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

$mobile-breakpoint: $lg-breakpoint;

$default-transition-time: .2s;
$header-height: 64px;
$footer-height: 166px;
$sidenav-width: 250px;

@mixin transition($style) {
  transition: $style $default-transition-time ease-in-out;
}

@mixin shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin ellipsis {
  flex: 1;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

